<footer class="eternz-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text"><img class="padding-top-10" src="<%= asset_path 'eternz.png' %>" width="110"/></h5>
      </div>
      <div class="col l9 s9">

        <p class="eternz-footer-color">Eternz | Adorn and express. We believe that jewelry is a means of self-expression and it adds beauty
          like an orchid which is a long lasting delicate beauty and its graceful look draws attention!</p>
      </div>
      <div class="col l3 s3">
        <p>
          <span class="padding-right-10"><a href="https://www.facebook.com/pages/Eternz/700100013446447" target="_blank"><img src="<%= asset_path 'social/facebook.svg' %>" width="32"/></a></span>
          <span class="padding-right-10"><a href="#" target="_blank"><img src="<%= asset_path 'social/twitter.svg' %>" width="32"/></a></span>
          <span class="padding-right-10"><a href="#" target="_blank"><img src="<%= asset_path 'social/instagram.svg' %>" width="32"/></a></span>
        </p>
      </div>
    </div>
  </div>
  <div class="eternz-footer-copyright">
    <div class="container">
      <span class="eternz-footer-color">&copy; 2015 Eternz | Adorn &amp; Express. Crafted with <span style="color: #c49e32; font-size: 1em;">&hearts;</span> in India</span>
        <a class="right padding-right-10" href="#">Terms &amp; Conditions</a>
        <a class="right padding-right-10" href="#">Privacy Policy</a>
        <a class="right padding-right-10" href="#">Return Policy</a>
    </div>
  </div>
</footer>
<!-- end of  footer div -->
