<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="<%= asset_path 'home/banner2.jpg'%>">
<!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="<%= asset_path 'home/banner1.jpg'%>">
<!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  $('.slider').slider({
    full_width: true,
    indicators: false
  });
});
</script>
<!-- End of Banner div -->
