<nav class="grey lighten-3" role="navigation">
  <div class="row">
    <div class="nav-wrapper">
      <div class="offset-l3 col l6">
        <ul class="left hide-on-med-and-down center-align">
          <li>
            <a class="blue-grey-text text-lighten-1" href="#">Parure</a>
          </li>
          <li>
            <a class="blue-grey-text text-lighten-1" href="#">Tous le temps</a>
          </li>
          <li>
            <a class="blue-grey-text text-lighten-1" href="#">Haedos</a>
          </li>
          <li>
            <a class="blue-grey-text text-lighten-1" href="#">Valence</a>
          </li>
          <li>
            <a class="blue-grey-text text-lighten-1" href="#">Reve</a>
          </li>
          <li>
            <a class="blue-grey-text text-lighten-1" href="#">Suvae</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
