<div class="eternz-menubar grey lighten-3" style="box-shadow: 0 0 0 0;">
  <div class="container">
    <ul>
      <li>
        <a href="#">Anklet</a>
        <div class="eternz-sub-menu eternz-disp-none">
          Sub menu 1
        </div>
      </li>
      <li>
        <a href="#">Bangle</a>
        <div class="eternz-sub-menu eternz-disp-none">
          Sub menu 2
        </div>
      </li>
      <li>
        <a href="#">Ear Ring</a>
        <div class="eternz-sub-menu eternz-disp-none">
          Sub menu 3
        </div>
      </li>
      <li>
        <a href="#">Ring</a>
        <div class="eternz-sub-menu eternz-disp-none">
          Sub menu 4
        </div>
      </li>
      <li>
        <a href="#">Neckpiece</a>
        <div class="eternz-sub-menu eternz-disp-none">
          Sub menu 5
        </div>
      </li>
      <li>
        <a href="#">Pendant</a>
        <div class="eternz-sub-menu eternz-disp-none">
          Sub menu 6
        </div>
      </li>
    </ul>
  </div>
</div>
