<nav class="container grey darken-4"  style="box-shadow: 0 0 0 0;">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left" style="margin-right: auto; margin-left: auto;">
      <li><a href="#">Anklet</a></li>
      <li><a href="#">Bangle</a></li>
      <li><a href="#">Ear Ring</a></li>
      <li><a href="#">Ring</a></li>
      <li><a href="#">Neckpiece</a></li>
      <li><a href="#">Pendant</a></li>
    </ul>
  </div>
</nav>
