<nav class="container grey darken-4" style="box-shadow: 0 0 0 0;">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="padding-top: 5px;"><img src="<%= asset_path 'eternz.png' %>" width="90"/></a>
    <ul id="nav-mobile" class="right">
      <li data-hook>
        <%= render :partial => 'spree/shared/login_bar' %>
      </li>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
    </ul>
    <script>Spree.fetch_cart()</script>
  </div>
</nav>
