<div class="margin-bottom-0 row">
  <div class="col s12 eternz-product-banner">
    <div class="padding-top-20 padding-right-10 padding-left-10">
      <img src="<%= asset_path 'products/product-banner.jpg' %>"/>
    </div>
  </div>
</div>
