<md-content>
	<div layout="row" class="banner">
		<div md-padding layout-align="start center">
			<h4>Title</h4>
			<p>Vesting semantic web for push coffeescript passion. Somolo vertical Ruby at CSS3 invest ninja. HackerNews user interface algorithm push by cross platform growth hack. Accelerator semantic equity at scale differentiators acquisition.</p>
			<p><md-button>Discover</md-button></p>
		</div>
		<div flex></div>
		<div>
			<img src="https://eternz.com/images/Tousletemps.jpg"></div>
		</div>
	</div>
	<div layout="row" class="types">
		<div flex layout-center="center">Anklet</div>
		<div flex>Bracelet</div>
		<div flex>Bangle</div>
		<div flex>Ear Ring</div>
		<div flex>Ring</div>
		<div flex>Neckpiece</div>
		<div flex>Pendant</div>
	</div>
	<div layout="row" class="catalog">
		<h2>Catalog row 1</h2>	
	</div>
	<div layout="row" class="catalog">
		<h2>Catalog row 2</h2>	
	</div>
	<div layout="row">
  			<div flex>
    			Featured Collection
  			</div>
  			<div flex>
    			[flex]
  			</div>
  			<div flex>
    			[flex]
  			</div>
			<div flex>
    			[flex]
  			</div>
			<div flex>
    			[flex]
  			</div>
	</div>
	<div layout="row">
  			<div flex>
    			[flex]
  			</div>
  			<div flex>
    			[flex]
  			</div>
  			<div flex>
    			[flex]
  			</div>
			<div flex>
    			[flex]
  			</div>
			<div flex>
    			[flex]
  			</div>
	</div>
</md-content>