<md-content>
	<div layout="column">
		<div layout="row" style="background: #000000; color: #fff; border-bottom: 1px solid #323232;">
			<div flex>
			    <h5 style="color: #c49e32;">POLICIES</h5>
				<ul>
					<li>Shipping &amp; returns</li>
					<li>Terms &amp; conditions</li>
					<li>Privacy policy</li>
				</ul>
			</div>
			<div flex>
			    [flex]
			</div>
			<div flex>
			    [flex]
			</div>
			<div flex>
			    [flex]
			</div>
		</div>
		<md-toolbar>
			<div class="md-toolbar-tools md-body-1">
				<span><small>&copy; 2015 Eternz | Crafted with &hearts; in India.</small></span>
				<span flex></span> 
				<small>
					Stay connected <i class="ion-social-facebook"></i>
				</small>
			</div>
		</md-toolbar>
	</div>
</md-content>