<md-toolbar>
  <div class="md-toolbar-tools">
    <span><img src="<%= asset_path 'eternz.png' %>" width="92" height="36"/></span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-button>Account</md-button>
    <md-button>Login</md-button>
  </div>
</md-toolbar>
<div layout="row" layout-align="center center" class="eternz-main-menu">
  <div class="eternz-menu">
    <md-button class="md-primary md-hue-1">Parure</md-button>
    <md-whiteframe class="eternz-sub-menu eternz-disp-none eternz-padding-10 md-whiteframe-z2">
      <!-- content start block -->
      <div class="eternz-sub-menu-content">
        <div layout="row">
          <div flex="33">
            <ul>
              <li layout="row">
                <span flex>Anklet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bracelet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Ring</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Neckpiece</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Pendant</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
            </ul>
          </div>
          <div flex="55" class="eternz-padding-10">
            Parure
          </div>
        </div>
      </div>
      <!-- content end block -->
    </md-whiteframe>
  </div>
  <div class="eternz-menu">
    <md-button class="md-primary md-hue-1">Tous le temps</md-button>
    <md-whiteframe class="eternz-sub-menu eternz-disp-none eternz-padding-10 md-whiteframe-z2">
      <!-- content start block -->
      <div class="eternz-sub-menu-content">
        <div layout="row">
          <div flex="33">
            <ul>
              <li layout="row">
                <span flex>Anklet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bracelet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Ring</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Neckpiece</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Pendant</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
            </ul>
          </div>
          <div flex="55" class="eternz-padding-10">
            Tous le temps
          </div>
        </div>
      </div>
      <!-- content end block -->
    </md-whiteframe>
  </div>
  <div class="eternz-menu">
    <md-button class="md-primary md-hue-1">Reve</md-button>
    <md-whiteframe class="eternz-sub-menu eternz-disp-none eternz-padding-10 md-whiteframe-z2">
      <!-- content start block -->
      <div class="eternz-sub-menu-content">
        <div layout="row">
          <div flex="33">
            <ul>
              <li layout="row">
                <span flex>Anklet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bracelet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Ring</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Neckpiece</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Pendant</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
            </ul>
          </div>
          <div flex="55" class="eternz-padding-10">
            Reve
          </div>
        </div>
      </div>
      <!-- content end block -->
    </md-whiteframe>
  </div>
  <div class="eternz-menu">
    <md-button class="md-primary md-hue-1">Suave</md-button>
    <md-whiteframe class="eternz-sub-menu eternz-disp-none eternz-padding-10 md-whiteframe-z2">
      <!-- content start block -->
      <div class="eternz-sub-menu-content">
        <div layout="row">
          <div flex="33">
            <ul>
              <li layout="row">
                <span flex>Anklet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bracelet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Ring</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Neckpiece</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Pendant</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
            </ul>
          </div>
          <div flex="55" class="eternz-padding-10">
            Suave
          </div>
        </div>
      </div>
      <!-- content end block -->
    </md-whiteframe>
  </div>
  <div class="eternz-menu">
    <md-button class="md-primary md-hue-1">Haedos</md-button>
    <md-whiteframe class="eternz-sub-menu eternz-disp-none eternz-padding-10 md-whiteframe-z2">
      <!-- content start block -->
      <div class="eternz-sub-menu-content">
        <div layout="row">
          <div flex="33">
            <ul>
              <li layout="row">
                <span flex>Anklet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bracelet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Ring</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Neckpiece</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Pendant</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
            </ul>
          </div>
          <div flex="55" class="eternz-padding-10">
            Haedos
          </div>
        </div>
      </div>
      <!-- content end block -->
    </md-whiteframe>
  </div>
  <div class="eternz-menu">
    <md-button class="md-primary md-hue-1">Valence</md-button>
    <md-whiteframe class="eternz-sub-menu eternz-disp-none eternz-padding-10 md-whiteframe-z2">
      <!-- content start block -->
      <div class="eternz-sub-menu-content">
        <div layout="row">
          <div flex="33">
            <ul>
              <li layout="row">
                <span flex>Anklet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bracelet</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Bangle</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Ring</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Neckpiece</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
              <li layout="row">
                <span flex>Pendant</span>
                <span flex></span>
                <span flex class="text-right">></span>
              </li>
            </ul>
          </div>
          <div flex="55" class="eternz-padding-10">
            Valence
          </div>
        </div>
      </div>
      <!-- content end block -->
    </md-whiteframe>
  </div>
</div>
