<div>
  <md-content layout="row" class="md-primary">
    <div flex layout-padding>
      <div layout="row" layout-fill layout-align="start center">
        <div>
          <h4 class="md-title">Logo</h4>
        </div>
      </div>
    </div>
    <div flex layout-padding></div>
    <div flex layout-padding>
      <div layout="row" layout-fill layout-align="end center">
        <div>
          <md-button class="md-accent">Account</md-button>
          <md-button class="md-accent">Login</md-button>
        </div>
      </div>
    </div>
  </md-content>
  <md-content layout="row" class="md-warn">
    <div flex>
      <div layout="row" layout-align="start center">
        <div class="md-padding">Tous le temps</div>
        <div class="md-padding">Parure</div>
        <div class="md-padding">Voyuer</div>
      </div>
    </div>
  </md-content>
</div>
