  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Eternz | Adorn &amp; Express</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button>Account</md-button>
      <md-button>Login</md-button>
    </div>
  </md-toolbar>
  <md-content layout="row" class="md-warn">
    <div flex>
      <div layout="row" layout-align="start center">
        <div><md-button class="md-primary md-hue-1">Parure</md-button></div>
        <div><md-button class="md-primary md-hue-1">Tous le temps</md-button></div>
        <div><md-button class="md-primary md-hue-1">Reve</md-button></div>
        <div><md-button class="md-primary md-hue-1">Suave</md-button></div>
        <div><md-button class="md-primary md-hue-1">Haedos</md-button></div>
        <div><md-button class="md-primary md-hue-1">Valence</md-button></div>
      </div>
    </div>
  </md-content>